/*Variables*/
:root {
  --main-color:#590A27;
  --height: 30px;
  --width: 30px;
}

.cells{
  --height: 10px;
  --width: 10px;
}
/*Styles*/
* {
  margin:0;
  padding:0;
  box-sizing: border-box;

}
body{
  background-color: #EFDFC8 !important;
  font-family: 'VT323', monospace;

}
button{
  margin:20px;
}
#wrapper {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1, h2{
  color: var(--main-color);
  text-align: center;
}
#grid {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap:wrap;
  z-index: 1;
  overflow: hidden;

}
.gridContainer{
  background-color: var(--main-color);
  z-index: 2;
  margin: 0 auto;
  width: 520px;
  height: 520px;
  border-radius: 15px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.cells {

  height: var(--height);
  width: var(--width);
  flex-grow:1;
  align-self: stretch;
}
